

<br />




<div class="row">
    <div class=col>
        <input type="search" class="form-control" id="txtsearch" placeholder="Пошук..."/>
</div>
<div class=col>
        <select class="form-select" id="howchoose">
            <option value="1">За назвою</option>
            <option value="2">За жанром</option>
            <option value="3">За студією</option>
        </select>
</div>
    <div id="grdFilms"></div>
</div>



