@{
    ViewData["Title"] = "FAQ";
}

<section>
    <h2 class="title">@ViewData["Title"]</h2>

    <div class= "faq">
        <div class= "question">
            <h3>Як я можу зарєструватися на сайті?</h3>

            <svg width="15", height="10", viewBox="0 0 42 25">
                <path d="M3 3L21 21L39 3" stroke="black" stroke-width="7" stroke-linecap="round"/>
            </svg>
        </div>

        <div class="answer">
            <p>Для реєстрації Вам необхідно вказати Ваше ім'я та робочу пошту, 
                щоб можна було з Вами зв'язатися, якщо виникнуть проблеми
            </p>

        </div>
    </div>

    <div class= "faq">
        <div class= "question">
            <h3>Не надійшла квитанція за покупку на пошту, що робити?</h3>

            <svg width="15", height="10", viewBox="0 0 42 25">
                <path d="M3 3L21 21L39 3" stroke="black" stroke-width="7" stroke-linecap="round"/>
            </svg>
        </div>

        <div class="answer">
            <p>
                Якщо після завершення оплати квитанція не надійшла на Вашу пошту протягом 10-15 хвилин,
                зверніться, будь ласка, до техпідтримки сайту.
                Контактний номер вказано у розділі "Контакти".
            </p>

        </div>
    </div>
    <div class= "faq">
        <div class= "question">
            <h3>Фільм не сподобався, чи можу я повернути гроші?</h3>

            <svg width="15", height="10", viewBox="0 0 42 25">
                <path d="M3 3L21 21L39 3" stroke="black" stroke-width="7" stroke-linecap="round"/>
            </svg>
        </div>

        <div class="answer">
            <p>
                Такої процедури на нашому сайті не має. Рекомендуємо наступного разу дивитись спочатку
                трейлери фільмів та рецензії на відповідних сайтах перед покупкою.
            </p>

        </div>
    </div>
    <div class= "faq">
        <div class= "question">
            <h3>Чому деякі фільми дорожчі за інші?</h3>

            <svg width="15", height="10", viewBox="0 0 42 25">
                <path d="M3 3L21 21L39 3" stroke="black" stroke-width="7" stroke-linecap="round"/>
            </svg>
        </div>

        <div class="answer">
            <p>
                Фільми можуть бути дорожчими лише у випадку, що вони стали доступними
                менше місяця тому. Потім ціна знижується. Фільми, які не є популярними мають навіть
                занижену ціну.
            </p>

        </div>
    </div>
    <div class= "faq">
        <div class= "question">
            <h3>Чи можна влаштуватись до вас на роботу?</h3>

            <svg width="15", height="10", viewBox="0 0 42 25">
                <path d="M3 3L21 21L39 3" stroke="black" stroke-width="7" stroke-linecap="round"/>
            </svg>
        </div>

        <div class="answer">
            <p>
                У розділі "Контакти" зазначено номер телефону під назвою «Вакансії», подзвонивши на який, ви зможете отримати необхідну вам інформацію.
            </p>

        </div>
    </div>

</section>