@model OrderCartViewModel


<div class = "container">
    @{
        int sum = 0;
        using (var context = new MaksgogoContext()) {
            foreach (var el in Model.OrderCart.listCartItems)
            {
                Film f =  (from u in context.Films
                         where u.IdFilm == el.IdFilm
                         select u).First();

                <div class = "alert alert-warning mt-3">
                    <div class="row">
                    <div class="col">
                    <b>Фільм:</b> @f.Name<br/>
                    <b>Ціна:</b> @f.Price.ToString()₴
                    </div>
                    <div class="col">
                    <div class="text-end">
                    <a class="btn btn-outline-warning" style="element-aligh=right;" asp-controller="OrderCart" asp-action="DeleteItem"
                            asp-route-name="@f.Name">Видалити</a>
                    </div>
                    </div>
                    </div>
                </div>
                
                sum += (int)@f.Price;
            }
            <strong>Всього до сплати: @sum.ToString()₴</strong>
        }
    }
    <hr/>
    <a class="btn btn-danger" asp-controller="Order" asp-action="CheckOut">Сплатити</a> 
    <a class="btn btn-danger" asp-controller="Films" asp-action="List">Повернутись до вибору фільмів</a> 

</div>
